.about {
    width: 100%;
    height: 700px;
    background: #000;
    position: relative;
}
.about-container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.about-left {
    width: 50%;
    color: #DDDCCC;
    line-height: 200%;
}
.about-me {
    font-size: 50px;
    padding: 65px 10px 10px 0;
}
.about-me-briefly {
    font-size: 30px;
    padding: 40px 10px 10px 0;
}
.about-me-long {
    font-size: 20px;
    padding: 20px 10px 10px 0;
}
.about-right {
    width: 50%;
    padding: 65px 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.about-right-photo {
    width: 80%;
    height: 97%;
    border-radius: 100px;
    filter: grayscale(100%);
    transition: 1s;
    object-fit: cover;

}
.about-right-photo:hover {
    filter: grayscale(0);
}